<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>世界杯第五曲_bet365</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="__INDEX__/css/layer.css">
	<link rel="stylesheet" href="__INDEX__/css/style.css">
	<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__INDEX__/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="__INDEX__/js/layer.js"></script>
	<script type="text/javascript" src="__INDEX__/js/common.js"></script>
</head>
<body>
	<div class="page-info">
      <div class="header">
			<div class="container">
				<ul class="nav">
					<li class="nav-item"><a href="/">首页</a></li>
					<li class="nav-item"><a href="https://www.bet3651.vip/?Intr=FPBlzc" target="_black">注册会员</a></li>
					<li class="nav-item"><a href="javascript:;"><img src="__INDEX__/images/toplogo.png" alt="" ></a></li>
					<li class="nav-item"><a href="https://messengers.providesupport.net/messenger/1tlvbqaib8vst180u0ck786nyi.html" target="_black">在线客服</a></li>
					<li class="nav-item"><a href="https://www.bet3651.vip/jsp/member/space.jsp" target="_black">优惠活动</a></li>
				</ul>
			</div>
		</div>
		<div class="header-blank"></div>
		<div class="info-logo"><img src="__INDEX__/images/infologo5.png" alt=""></div>
		<div class="info-main container">
			<div class="info-section">
				<div class="ball-title2">活动时间：</div>
				<div class="info-wrap"><b>2018年6月14日（美东时间）起至7月15日</b></div>
			</div>
			<div class="info-section">
				<div class="ball-title2">活动详情：</div>
				<div class="info-wrap">
       玩家于Bet365投注世界杯赛事，以玩家投注串关的盈利作为参照,Bet365将额外派发该注单净盈利的20%给玩家。					<table class="info-table">
						<tr>
							<th>最低下注</th>
							<th>串关</th>
							<th>加奖比例</th>
							<th>流水要求</th>
						</tr>
						<tr>
							<td rowspan="4">100元</td>
							<td>4串1</td>
							<td>7%</td>
							<td rowspan="4">1倍</td>
						</tr>
                       <tr>
							<td>5串1</td>
							<td>10%</td>
						</tr>
                        <tr>
							<td>6串1</td>
							<td>15%</td>
						</tr>
                  <tr>
							<td>7串1或以上</td>
							<td>20%</td>
						</tr>
					</table>
连串额外奖金计算范例	<br>
 假设本金RMB500,投注5x1全场让球盘: 阿森纳让球赢,皇马让球赢,国米让球赢,切尔西让球赢, AC米兰让球赢  <br>           
      假设上述球队让球赢赔率分别为 1.00.(赔率为十足) <br>
                  假设所投注的项目全部胜出，获派奖金是500元x 2.0 x 2.0 x 2.0 x 2.0 x 2.0 =16,000.<br>
                  
额外奖金: [16000-500(本金)] x 10% =1550元.<br>
              </div>
			</div>
			<div class="info-section">
				<div class="ball-title2">活动细则：</div>
				<div class="info-wrap">
					1.所获得奖金需一倍流水方可申请提款。<br>

2.所投注赔率必须大于1.7 (欧盘) 或以上的赔率投注（香港与马来盘0.7赔率）请符合该优惠申请的玩家于串关结算后的72小时内提交申请，如逾期视为自动放弃此优惠。<br>

3.如玩家所投注的赛事出现延期/取消,奖金依然适用,但是计算奖金比例将受实际获胜彩金选项影响。依上述例子,在一个5串1过关投注中,如果出现4项投注获胜,一项投注出现取消/延期等,则最终会按照4串1对应的比率进行计算。
<br>
4.参与该优惠，即表示您同意《一般优惠规则与条款》。<br>
				</div>
			</div>
			<div class="info-section">
				<div class="ball-title2">一般优惠规则及条款：</div>
				<div class="info-wrap">
					  1. 所有优惠以人民币(CNY)为结算金额，以美东时间(EDT)为计时区间。<br>
					  2. 每位玩家﹑每户﹑每一住址 、每一电子邮箱地址﹑每一电话号码﹑相同支付方式(相同借记卡/信用卡/银行账户) 及
					      IP地址只能享有一次优惠；若玩家有重复申请账号行为，公司保留取消或收回玩家优惠彩金的权利。<br>
					  3.Bet365的所有优惠特为玩家而设，如发现任何团体或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等行
					     为，公司保留冻结、取消该团体或个人账户及账户结余的权利。<br>
					  4.若玩家对活动有争议时，为确保双方利益，杜绝身份盗用行为，Bet365有权要求玩家向我们提供充足有效的文件，
					     用以确认是否享有该优惠的资质。<br>
					  5. 当参与优惠玩家未能完全遵守、或违反、或滥用任何有关公司优惠或推广的条款，又或我们有任何证据有任何团队
					      或个人投下一连串的关联赌注，籍以造成无论赛果怎样都可以确保可以从该存款红利或其他推广活动提供的优惠获
					      利，Bet365保留权利向此团队或个人停止、取消优惠或索回已支付的全部优惠红利。此外，公司亦保留权利向这些
					      客户扣取相当于优惠红利价值的行政费用，以补偿我们的行政成本。<br>
					   6. Bet365保留对活动的最终解释权 ；以及在无通知的情况下修改、终止活动的权利；适用于所有优惠。<br>
				</div>
			</div>
			<div class="btn-wrap">
				<a href="javascript:;" class="btn btn-blue j-btn-apply">活动申请</a>
				<a href="javascript:;" class="btn btn-blue j-btn-process">进度查询</a>
				<a href="/" class="btn btn-blue">返回首页</a>
			</div>
			<div id="layerApply" style="display: none;">
				<form action="" class="bet-form">
					<div class="form-title">活动申请</div>
					<div class="form-row">
						<div class="form-label">会员账号：</div>
						<div class="form-con">
							<input type="text" class="input-text user" placeholder="请输入您的会员账号">
						</div>
					</div>
                  <div class="form-row">
						<div class="form-label">投注单编号：</div>
						<div class="form-con">
							<input type="text" class="input-text number" placeholder="请输入您的投注单编号：">
						</div>
					</div>
                  <div class="form-row">
						<div class="form-label">投注平台：</div>
						<div class="form-con">
							<select  class="input-text tai">
                              <option>皇冠体育</option>
                              <option>BB体育</option>
                              <option>沙巴体育</option>
                              <option>CMD体育</option>
                            </select>
						</div>
					</div>
                   <div class="form-row">
						<div class="form-label">串关：</div>
						<div class="form-con">
							<select class="input-text chuan">
                              <option>4串1</option>
                              <option>5串1</option>
                              <option>6串1</option>
                              <option>7串1及以上</option>
                            </select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-label">验证码：</div>
						<div class="form-con verify-con">
							<input type="text" class="input-text codenum" placeholder="填写验证码" >
							<input type="hidden" class="type" value="1">
							<input type="hidden" class="id" value="{$id}">
							<img src="{:url('/image')}" class="verify-img"><a class="code" style="color: #00F7DE;font-size: 0.7em;cursor: pointer">看不清，换一个?</a>
						</div>
					</div>
					<div class="tc">
						<input type="button" class="input-submit login" value="提交">
					</div>
				</form>
			</div>
			<div id="layerProcess" style="display: none;">
				<form action="" class="bet-form">
					<div class="form-title">进度查询</div>
					<div class="form-row">
						<div class="form-label">会员账号：</div>
						<div class="form-con">
							<input type="text" class="input-text user" placeholder="请输入您的会员账号">
						</div>
					</div>
					<div class="form-row">
						<div class="form-label">验证码：</div>
						<div class="form-con verify-con">
							<input type="text" class="input-text codenum"  placeholder="填写验证码" id="code">
							<input type="hidden" class="type" value="2">
							<input type="hidden" class="id" value="{$id}">
							<img src="{:url('/image')}" class="verify-img" /><a class="code" style="color: #00F7DE;font-size: 0.7em;cursor: pointer">看不清，换一个?</a>
						</div>
					</div>
					<div class="tc">
						<input type="button" class="input-submit login" value="提交">
					</div>
				</form>
			</div>
		</div>
		<div class="footer">
			2018世界杯官方指定投注机构<br />
			www.bet365.com.cn
		</div>
	</div>
</body>
</html>
<script>
   $(function () {
		$('.login').click(function () {
			var code=$(this).parent().siblings().find('.codenum').val();
			var user=$(this).parent().siblings().find('.user').val();
            var type=$(this).parent().siblings().find('.type').val();
            var id=$(this).parent().siblings().find('.id').val();
            var apply_remark="";
            var url="{:url('/info')}";
			if (code=="" || user==""){
			    layer.msg('用户名和验证码不能为空！')
			} else{
                if(type==1){
                  var number=$(this).parent().siblings().find('.number').val();
                   var tai=$(this).parent().siblings().find('.tai').val();
                   var chuan=$(this).parent().siblings().find('.chuan').val();
            		if (number==""){
			    	layer.msg('请输入注单编号！')
					}else{
                      apply_remark='串关；注单编号：'+number+'投注平台：'+tai+'串关：'+chuan;
                          $.post(url,{code:code,user:user,type:type,id:id,apply_remark:apply_remark},function (data) {
                          $('.login').parent().siblings().find('img').attr('src','{:url(\'/image\')}');
                          layer.msg(data.msg);
                          if (data.code==0){
                              setTimeout(function () {
                                  layer.closeAll();
                              },2000)

                          }
                      })
                    }     
          		}else{
                      $.post(url,{code:code,user:user,type:type,id:id},function (data) {
                                $('.login').parent().siblings().find('img').attr('src','{:url(\'/image\')}');
                                layer.msg(data.msg);
                                if (data.code==0){
                                    setTimeout(function () {
                                        layer.closeAll();
                                    },2000)

                                }
                            })
                }
				
			}

        });
		$('.code').click(function () {
		    var files='{:url(\'/image\')}';
			$(this).siblings('img').attr('src',files);
        });
    })
</script>