<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="__INDEX__/css/style2.css" />
    <title>活动规则</title>
</head>
<body>
	<div class="page-info">
		<div class="header">
			<div class="container">
				<ul class="nav">
					<li class="nav-item"><a href="/">首页</a></li>
					<li class="nav-item"><a href="https://www.bet3651.vip/?Intr=FPBlzc" target="_black">注册会员</a></li>
					<li class="nav-item"><a href="javascript:;"><img src="__INDEX__/images/toplogo.png" alt="" ></a></li>
					<li class="nav-item"><a href="https://messengers.providesupport.net/messenger/1tlvbqaib8vst180u0ck786nyi.html" target="_black">在线客服</a></li>
					<li class="nav-item"><a href="https://www.bet3651.vip/jsp/member/space.jsp" target="_black">优惠活动</a></li>
				</ul>
			</div>
		</div>
		<div class="header-blank"></div>
		<div class="rule-logo">
			<img src="__INDEX__/images/ruletitle.png" alt="">
		</div>
		<div class="info-main container">
			<div class="info-section">
				<div class="ball-title2">活动时间：</div>
				<div class="info-wrap"><b>活动时间：2018年6月14日至7月15日期间  </b></div>
			</div>
			<div class="info-section">
				<div class="ball-title2">激情世界杯  竞猜享好礼</div>
				<div class="info-wrap">
					<table class="rule-table">
						<tbody>
							<tr>
								<th></th>
								<th>投注金额</th>
								<th>奖励金额</th>
							</tr>
							<tr>
								<td rowspan="9">单场竞猜</td>
								<td>100+</td>
								<td>18</td>
							</tr>
							<tr>
								<td>3000+</td>
								<td>88</td>
							</tr>
                          <tr>
								<td>5000+</td>
								<td>188</td>
							</tr>
							<tr>
								<td>10000+</td>
								<td>388</td>
							</tr>
							<tr>
								<td>50000+</td>
								<td>588</td>
							</tr>
							<tr>
								<td>100000+</td>
								<td>1888</td>
							</tr>
							<tr>
								<td>300000+</td>
								<td>3888</td>
							</tr>
							<tr>
								<td>500000+</td>
								<td>8888</td>
							</tr>
							<tr>
								<td>1000000+</td>
								<td>18888</td>
							</tr>
						</tbody>
					</table>
					例：在皇冠体育、沙巴体育、BB体育、CMD体育（俄罗斯VS沙特）比赛中投注100元或以上，在竞猜活动中竞猜（俄罗斯）赢 ，同时最后的赛果也是（俄罗斯）赢，即可获得对应的18元活动奖励。以此类推。
				</div>
			</div>
			<div class="info-section">
				<div class="ball-title2">我是预测帝 玩赚世界杯</div>
				<div class="info-wrap">
					<b>活动奖励：</b>
					<table class="rule-table">
						<tbody>
							<tr>
								<th colspan="3">16强预测</th>
							</tr>
							<tr>
								<th width="25%">预测中球队数</th>
								<th width="16%">奖励金额</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>中8队</td>
								<td>88</td>
								<td rowspan="5">
									16强预测需在小组赛第二轮开赛前提交预测结果，否则视为无效；且小组赛期间需产生1000以上有效投注才可参与活动奖励
								</td>
							</tr>
							<tr>
								<td>中10队</td>
								<td>188</td>
							</tr>
							<tr>
								<td>中12队</td>
								<td>388</td>
							</tr>
							<tr>
								<td>中14队</td>
								<td>588</td>
							</tr>
							<tr>
								<td>中16队</td>
								<td>888</td>
							</tr>
						</tbody>
					</table>
					<table class="rule-table">
						<tbody>
							<tr>
								<th colspan="3">8强预测</th>
							</tr>
							<tr>
								<th width="25%">预测中球队数</th>
								<th width="16%">奖励金额</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>中5队</td>
								<td>88</td>
								<td rowspan="5">
									8强预测需在1/8决赛开赛前提交预测结果，否则视为无效；且16强比赛期间需产生1000以上有效投注才可参与活动奖励
								</td>
							</tr>
							<tr>
								<td>中6队</td>
								<td>188</td>
							</tr>
							<tr>
								<td>中7队</td>
								<td>388</td>
							</tr>
							<tr>
								<td>中8队</td>
								<td>888</td>
							</tr>
						</tbody>
					</table>
					<table class="rule-table">
						<tbody>
							<tr>
								<th colspan="3">4强预测</th>
							</tr>
							<tr>
								<th width="25%">预测中球队数</th>
								<th width="16%">奖励金额</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>中2队</td>
								<td>88</td>
								<td rowspan="5">
									4强预测需在1/4决赛开赛前提交预测结果，否则视为无效；且8强比赛期间需产生500以上有效投注才可参与活动奖励
								</td>
							</tr>
							<tr>
								<td>中3队</td>
								<td>188</td>
							</tr>
							<tr>
								<td>中4队</td>
								<td>388</td>
							</tr>
						</tbody>
					</table>
					<table class="rule-table">
						<tbody>
							<tr>
								<th colspan="3">决赛预测</th>
							</tr>
							<tr>
								<th width="25%">预测中球队数</th>
								<th width="16%">奖励金额</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>中1队</td>
								<td>88</td>
								<td rowspan="5">
									决赛预测需在半决赛开赛前提交预测结果，否则视为无效；且4强比赛期间需产生500以上有效投注才可参与活动奖励
								</td>
							</tr>
							<tr>
								<td>中2队</td>
								<td>388</td>
							</tr>
						</tbody>
					</table>
					<table class="rule-table">
						<tbody>
							<tr>
								<th colspan="3">冠军预测</th>
							</tr>
							<tr>
								<th width="25%">预测中球队数</th>
								<th width="16%">奖励金额</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>中1队</td>
								<td>188</td>
								<td>
									需在决赛开赛前提交冠军预测结果，否则视为无效；且在决赛场次中产生500元有效投注才可参与活动奖励
								</td>
							</tr>
						</tbody>
					</table>
					<table class="rule-table">
						<tbody>
							<tr>
								<th colspan="3">终极预测</th>
							</tr>
							<tr>
								<th width="25%">预测中球队数</th>
								<th width="16%">奖励金额</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>全部预测中</td>
								<td>18888</td>
								<td>
									需在[16强/8强/4强/决赛]全部预测中，且在半决赛开赛前提交冠军预测结果，否则视为无效；
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="info-section">
				<div class="ball-title2">活动规则</div>
				<div class="info-wrap">
					1. 只要是有在Bet365注册的会员即可参与该活动。<br />
					2. 全部64场比赛都可以进行竞猜，只猜胜或平，淘汰赛按照90分钟结果计算。在规定截止时间之后提交竞猜结果的视为无效，无论猜中与否，均不予奖励！<br />
					3.每个会员提交的竞猜和预测赛果在活动规定及比赛的截止时间前都是可以任意进行更改，以最后一次提交结果为准。<br />
					4.所获得的奖励金无需申请，赛事结束后24小内自动派送，彩金无需打码即可申请提款。<br />
				</div>
			</div>
			<div class="info-section">
				<div class="ball-title2">优惠规则与条款</div>
				<div class="info-wrap">
					1.所有优惠以人民币(CNY)为结算金额，以美东时间(EDT)为计时区间。<br />
					2.每位玩家﹑每户﹑每一住址 、每一电子邮箱地址﹑每一电话号码﹑相同支付方式(相同借记卡/信用卡/银行账户) 及IP地址只能享有一次优惠；若会员有重复申请账号行为，公司保留取消或收回会员优惠彩金的权利。<br />
					3.Bet365娱乐场的所有优惠特为玩家而设，如发现任何团体或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等行为，公司保留冻结、取消该团体或个人账户及账户结余的权利。<br />
					4.若会员对活动有争议时，为确保双方利益，杜绝身份盗用行为，Bet365娱乐场有权要求会员向我们提供充足有效的文件，用以确认是否享有该优惠的资质。<br />
					5.当参与优惠会员未能完全遵守、或违反、或滥用任何有关公司优惠或推广的条款，又或我们有任何证据有任何团队或个人投下一连串的关联赌注，籍以造成无论赛果怎样都可以确保可以从该存款红利或其他推广活动提供的优惠获利，Bet365娱乐场保留权利向此团队或个人停止、取消优惠或索回已支付的全部优惠红利。此外，公司亦保留权利向这些客户扣取相当于优惠红利价值的行政费用，以补偿我们的行政成本。<br />
					6.Bet365娱乐场保留对活动的最终解释权；以及在无通知的情况下修改、终止活动的权利；适用于所有优惠。<br />
				</div>
			</div>
		</div>
		<div class="footer">
			2018世界杯官方指定投注机构<br />
			www.bet365.com.cn
		</div>
	</div>
</body>
</html>