<div id="sidebar">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start #sideNav -->
        <ul id="sideNav" class="nav nav-pills nav-stacked">
            <li><a>后台首页<i class="im-screen"></i></a>
            </li>
            <li class="team"><a>球队管理 <i class="im-paragraph-justify"></i></a>
                <ul class="nav sub">
                    <li><a href="{:url('/ad/team')}"><i class="im-checkbox-checked"></i> 球队总览</a>
                    </li>
                    <!--<li><a href="{:url('ad/team/create')}"><i class="ec-pencil2"></i> 添加球队</a>-->
                    <!--</li>-->
                </ul> 
            </li>
            <li class="game">
                <a>世界杯赛程 <i class="im-paragraph-justify"></i></a>
                <ul class="nav sub">
                    <li><a href="{:url('/game/create')}" ><i class="ec-pencil2"></i> 添加赛程</a>
                    </li>
                    <li><a href="{:url('/ad/game')}" ><i class="im-checkbox-checked"></i>全部赛程</a>
                    </li>
                </ul>
            </li>
            <li class="user">
                <a>用户中心 <i class="im-paragraph-justify"></i></a>
                <ul class="nav sub">
                    <li><a href="{:url('/user/guess')}" ><i class="ec-pencil2"></i> 用户竞猜</a>
                    </li>
                    <li><a href="{:url('/user/forecast')}" ><i class="im-checkbox-checked"></i> 用户预测</a>
                    </li>
                    <li><a href="{:url('/user/apply')}"><i class="im-checkbox-checked"></i>活动申请</a>
                    </li>
                    <li><a href="{:url('/user/upload')}"><i class="im-checkbox-checked"></i>用户导入</a>
                    </li>
                </ul>
            </li>
             <li class="setting"><a >系统设置<i class="im-screen"></i></a>
                <ul class="nav sub">
                    <li><a href="{:url('/ad/setting')}" ><i class="ec-pencil2"></i>活动设置</a>
                    </li>
                    <li><a href="{:url('/admin/update')}" ><i class="ec-pencil2"></i>管理员设置</a>
                    </li>

                </ul>



            </li>
        </ul>
    </div>
    <!-- End .sidebar-panel -->
</div>
<!-- End .sidebar-inner -->
</div>

<!-- End #sidebar -->
<script>
    $(function () {
        var info="{$data}";

        $('.'+info).children('ul').show();
        $('li').click(function () {
            var text=$(this).children('a').text();
            $(this).children('ul').toggle();
            $(this).siblings('li').children('ul').hide();

        });

    })
</script>
<!-- Start #right-sidebar -->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">